<header class="header">
    <div class="contenedor contenido-header">
        <div class="video-header">      
            <video class="video-display" width="320" height="240" controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1694907480/Untitled_video_vonwfs.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
              </video>
        </div>

        <div class="texto-header">
            <p class="tagline-producto">Videos con inteligencia artificial</p>
            <h1 class="nombre-producto degradado-verde">VideoFlix</h1>
            <P class="descripcion-producto">Damos vida a tus momentos especiales y tus deseos más profundos. ¿Tienes una imagen y un guión en mente? Nosotros lo convertimos en una realidad cinematográfica. Ya sea para enviar felicitaciones conmovedoras, expresar gratitud sincera, mantener conversaciones emotivas con seres queridos que ya no están entre nosotros.</P>
            <p class="precio-producto">Desde <span>$299</span></p>
        </div>
          

    </div>
</header>
