<app-elegir-personaje></app-elegir-personaje>
<div class="contenedor">
    <div class="card">
        <div class="loading-bg"></div> <!-- Div para la imagen de fondo -->
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695139455/001_htsw80.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Claudia</h2>
            <p>Codigó: <span>001</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695044557/002_akhyen.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Jennifer</h2>
            <p>Codigó: <span>002</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695044567/003_migszy.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>James</h2>
            <p>Codigó: <span>003</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695053157/004_tc4be1.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Elizabeth</h2>
            <p>Codigó: <span>004</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695053166/005_nnpcgi.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Susan</h2>
            <p>Codigó: <span>005</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695053174/006_c5ntcl.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Daniel</h2>
            <p>Codigó: <span>006</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695062174/007_hbiisd.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Dorothy</h2>
            <p>Codigó: <span>007</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695062189/008_mukgml.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Ironman</h2>
            <p>Codigó: <span>008</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695062190/009_zrwrcj.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Margaret</h2>
            <p>Codigó: <span>009</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695062211/010_iuvg20.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>John</h2>
            <p>Codigó: <span>010</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695062212/011_a3hmxc.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Linda</h2>
            <p>Codigó: <span>011</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695062213/012_wlqjeu.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Jesus</h2>
            <p>Codigó: <span>012</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063064/013_fap01n.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Legolas</h2>
            <p>Codigó: <span>013</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695139586/014_jkxgp3.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Capitan A</h2>
            <p>Codigó: <span>014</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063066/015_oxxcn9.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Harley</h2>
            <p>Codigó: <span>015</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063068/016_rulpgu.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Jessica</h2>
            <p>Codigó: <span>016</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063069/017_lbkwwv.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Robert</h2>
            <p>Codigó: <span>017</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063070/018_wpb8ud.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Joker</h2>
            <p>Codigó: <span>018</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063094/019_mr8qle.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Sarah</h2>
            <p>Codigó: <span>019</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063095/020_easkah.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Michael</h2>
            <p>Codigó: <span>020</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063097/021_uttdaj.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Karen</h2>
            <p>Codigó: <span>021</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063098/022_nsvroh.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Nancy</h2>
            <p>Codigó: <span>022</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063099/023_igm44q.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Link</h2>
            <p>Codigó: <span>023</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695063101/024_yckut8.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Lisa</h2>
            <p>Codigó: <span>024</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064143/025_rwruzl.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Betty</h2>
            <p>Codigó: <span>025</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064144/026_goyxwr.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Nelson</h2>
            <p>Codigó: <span>026</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064145/027_ghabg0.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Sandra</h2>
            <p>Codigó: <span>027</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064166/028_jvf89j.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Ashley</h2>
            <p>Codigó: <span>028</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064168/029_hjtnms.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Richard</h2>
            <p>Codigó: <span>029</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695139700/030_qzsmmh.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Charles</h2>
            <p>Codigó: <span>030</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064171/031_jqqqab.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Jesus</h2>
            <p>Codigó: <span>031</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064172/032_nwkxmk.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Joseph</h2>
            <p>Codigó: <span>032</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064174/033_ygtb2b.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Kimberly</h2>
            <p>Codigó: <span>033</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064864/034_jgptrs.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Donna</h2>
            <p>Codigó: <span>034</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064866/035_erckez.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Thomas</h2>
            <p>Codigó: <span>035</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695064867/036_nf1onq.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Paul</h2>
            <p>Codigó: <span>036</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>

</div>

