<div class="contenedor">
    <div class="card">
        <div class="loading-bg"></div> <!-- Div para la imagen de fondo -->
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695044546/001_pweifr.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Will Smith</h2>
            <p>Codigó: <span>001</span></p>
            <a href="#">Leer más</a>
        </div>
    </div>
    <div class="card">
        <img src="/assets/img/002.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Will Smith</h2>
            <p>Codigó: <span>001</span></p>
            <a href="#">Leer más</a>
        </div>
    </div>
    <div class="card">
        <img src="/assets/img/003.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Will Smith</h2>
            <p>Codigó: <span>001</span></p>
            <a href="#">Leer más</a>
        </div>
    </div>

</div>

