<app-elegir-personaje></app-elegir-personaje>
<div class="contenedor">
    <div class="card">
        <div class="loading-bg"></div> <!-- Div para la imagen de fondo -->
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695044546/001_pweifr.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Will</h2>
            <p>Codigó: <span>001</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695044557/002_akhyen.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Jennifer</h2>
            <p>Codigó: <span>002</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695044567/003_migszy.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>James</h2>
            <p>Codigó: <span>003</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695053157/004_tc4be1.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Elizabeth</h2>
            <p>Codigó: <span>004</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695053166/005_nnpcgi.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Susan</h2>
            <p>Codigó: <span>005</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dmuoqsv3b/image/upload/v1695053174/006_c5ntcl.jpg" alt="Imagen Asombrosa">
        <div class="card-content">
            <h2>Daniel</h2>
            <p>Codigó: <span>006</span></p>
            <a routerLink="/inicio">Regresar</a>
        </div>
    </div>

</div>

