<router-outlet></router-outlet>

<section class="sobre-personajes" [style.backgroundImageGradientUrl]="backgroundImageGradientUrl">
    <div class="contendor sobre-tech-grid">
        <div class="texto-sobre-tech">
            <h2>Para hacer que tu experiencia en VideoFlix sea completamente personalizada y <span>única</span></h2>
            <p>Puedes elegir entre dos emocionantes opciones. La primera es proporcionar una imagen de la persona especial con la que deseas crear el video.</p>
            <p> La segunda opción es seleccionar una imagen de nuestra amplia galería de personajes.</p>
            <a type="button" routerLink="/personajes">Ver personjes</a>
        </div>
    </div>

</section>
