.galeria {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    
}

.contenedor {
    display: flex;
    flex-direction: column;
    
    
}

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var(--secundario);
    margin-bottom: 2rem;
}

audio {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

audio::-webkit-media-controls-panel {
    background-color: #3498db;
    border-radius: 8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    background-color: #fff;
    color: #3498db;
    border-radius: 50%;
    padding: 8px;
    font-size: 16px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
}

audio::-webkit-media-controls-volume-slider {
    background-color: #fff;
    border-radius: 8px;
    height: 6px;
}

audio::-webkit-media-controls-volume-slider-container {
    margin-top: 8px;
}