
<section class="galeria">
    <div class="contenedor">
        <div class="audio-container">
            <h3>Adam</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695144345/adam_gfh8d3.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Antony</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695145460/antony_dgkyvl.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Adrnold</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695145462/arnold_px07ts.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Bella</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695145464/bella_gdzmai.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    
    <div class="contenedor">
        <div class="audio-container">
            <h3>Charlie</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695145490/charlie_kunx7e.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Charlotte</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695145492/charlotte_wp9qvf.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Clyde</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695145495/clyde_olge7b.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Daniel</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695146730/daniel_os32rh.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Dave</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695146732/dave_h1ro8w.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Domi</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695146955/domi_nuz3db.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Dorothy</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695146957/dorothy_ppeqr3.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Elli</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695147130/Elli_suhc2x.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Emily</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695147133/Emily_gyfsfr.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Ethan</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695147279/ethan_durgd8.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Fin</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695147291/fin_yip5ek.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Freya</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695147302/freya_chuqsn.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Gigi</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695147769/gigi_to0pfv.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Giovanni</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695147772/giovanni_pffbzn.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Glinda</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148098/glinda_zo5xun.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Grace</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148101/grace_lg2tvv.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Harry</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148105/harry_x6iryp.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>James</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148108/james_tyrbbl.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Jeremy</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148617/jeremy_yon1pz.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Jessie</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148620/jessie_lqpvia.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Joseph</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148730/joseph_jmcnmi.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Josh</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148733/josh_yfowbr.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Liam</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695148737/liam_uvcpss.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Matilda</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149127/matilda_n7yabw.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Matthew</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149130/matthew_phcpno.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Michael</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149134/michael_zuajaq.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Mimi</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149137/mimi_kge4ze.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Nicole</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149149/nicole_b3psba.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Patrick</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149163/patrick_x2ftqm.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Rachel</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149701/rachel_vnntkh.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Ryan</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149717/ryan_xwmrz7.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Sam</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149721/sam_vgoqbh.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Serena</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149735/serena_ghd1dp.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
    <div class="contenedor">
        <div class="audio-container">
            <h3>Thomas</h3>
            <audio controls>
                <source src="https://res.cloudinary.com/dmuoqsv3b/video/upload/v1695149748/thomas_rx6wsr.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
            </audio>
        </div>
    </div>
</section>
<app-audio-section-final></app-audio-section-final>