<router-outlet></router-outlet>

<section class="sobre-personajes" [style.backgroundImageGradientUrl]="backgroundImageGradientUrl">
    <div class="contendor sobre-tech-grid">
        <div class="texto-sobre-tech">
            <!-- <h2>Para hacer que tu experiencia en VideoFlix sea completamente personalizada y <span>única</span></h2> -->
            <p>Puedes elegir entre dos emocionantes opciones. La primera es proporcionar una imagen de la persona especial con la que deseas crear el video.</p>
            <p>La segunda opción es seleccionar una imagen de nuestra galería de personajes. Tenemos desde celebridades hasta personajes icónicos</p>
            <p>Recuerda anotar o copiar el codigó del personaje si deseas usar uno de estos.</p>
            
           
        </div>
    </div>

</section>
