<main class="contenedor modelos">
    <h2 class="text-center degradado-verde header-modelos">Elige tu producto</h2>

    <div class="listado-modelos">
        <div class="modelo modelo-x" [style.backgroundImageGradientUrl1]="backgroundImageGradientUrl1">
            <h3>1 Minuto de video</h3>
            <p class="precio">$299</p>
        </div>
        <div class="modelo modelo-y" [style.backgroundImageGradientUrl2]="backgroundImageGradientUrl2">
            <h3>Audio personalizado</h3>
            <p class="precio">$99</p>
        </div>
        <div class="modelo modelo-z" [style.backgroundImageGradientUrl3]="backgroundImageGradientUrl3">
            <h3>2 Minutos de video y audio personalizado</h3>
            <p class="precio">$449</p>
        </div>
    </div>
</main>

