
.text-center {
    text-align: center;
}

.contenedor {
    display: inline;
  }

 

.modelos {
    padding: var(--separacion) 0;
    
}

.degradado-verde {
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.header-modelos {
    font-size: 6rem;
   
}

h3 {
    font-size: 2.4rem;
    margin-left: 0;
    
}

 .precio {
    font-size: 4rem;
    font-weight: 900;
    line-height: 0;
}

.listado-modelos {
    display: flex;
    flex-direction: column-reverse;
    margin: 3rem;
}

@media (min-width: 768px){
     .listado-modelos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20rem);
        gap: 4rem;
     }
}

.modelo {
    background-color: var(--secundario);
    margin-bottom: 2rem;
    padding-left: 4rem;
    color: var(--blanco);
    border-radius: 2rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15rem;
    transition-property: transform background-size;
    transition-duration: .3s;
}

.modelo:hover {
    transform: scale(1.1);
    background-size: 30rem;
}

@media (min-width: 768px){
    .modelo {
        margin-bottom: 0;
    } 
}

.modelo:first-of-type {
    margin-bottom: 0;
}

.modelo-x {
    background-image: url("/assets/img/001.jpg");
    
}

.modelo-y {
    background-image: url("/assets/img/002.jpg");
}

.modelo-z {
    background-image: url("/assets/img/003.jpg");
    background-color: var(--primario);
    color: var(--blanco);
}

@media (min-width: 768px){
    .modelo-z {
        grid-column: 2 /3;
        grid-row: 1 / 3;
    } 

    .modelo-z h3 {
        font-size: 5rem;
    }
}

.modelo-z .precio {
    font-size: 6rem;
}